// @import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}
.nav-link{
    color: white !important;
}
#logo{
    float: left;
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#id-container{
    margin-top: 30px;
}
.jumbotron{
   background-image: asset-url('jumbo.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 535px;
}
html, body{
    background-color: lightgray;
}
